replicaCount: 1

image:
  repository: ghcr.io/ferriskey/ferriskey-landing-page
  pullPolicy: IfNotPresent
  tag: "3773db4"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false
  automount: false
  annotations: {}
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}

securityContext:
  readOnlyRootFilesystem: false
  runAsNonRoot: false

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: ferriskey.rs
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: ferriskey-rs-tls
      hosts:
        - ferriskey.rs

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi


volumes: []
volumeMounts: []

nodeSelector: {}
tolerations: []
affinity: {}
